In [1]:
import pandas as pd
df = pd.read_json('flag.json')
df.head(1)

       country                                        flag_base64
0  Afghanistan  data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...

In [2]:
df['country']

0         Afghanistan
1             Albania
2             Algeria
3      American Samoa
4             Andorra
            ...
238    Western Sahara
239             Yemen
240        Yugoslavia
241            Zambia
242          Zimbabwe
Name: country, Length: 243, dtype: object

In [3]:
df['country'][203]

'Sudan'

In [4]:
df['flag_base64']

0      data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...
1      data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...
2      data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTAw...
3      data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...
4      data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...
                             ...
238    data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...
239    data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...
240                                                 None
241    data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...
242    data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAw...
Name: flag_base64, Length: 243, dtype: object

In [5]:
df[df['country'] == 'Zimbabwe'].flag_base64

242    data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAw...
Name: flag_base64, dtype: object

In [6]:
df.to_html('flag-data.html')